{erl_opts, [debug_info]}.

{deps, []}.

{escript_incl_apps, [rebar3_dependency_submission]}.
{escript_main_app, rebar3_dependency_submission}.
{escript_name, rebar3_dependency_submission}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, []}
    ]}
]}.

{project_plugins, [erlfmt]}.
{erlfmt, [write]}.
